body {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: o;
  color: teal;
  background-image: url("churchone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: black;
  padding-top: none;
  margin-top: none;
  height: 15%;
  border-bottom: black 2px solid;
}

#name {
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "The Nautigal", cursive;
  font-size: 5em;
  margin-top: 0;
}

#church_logo {
  width: 9%;
}

#logo_box {
  width: 10%;
}

.logo {
  width: 35%;
  padding-top: 5%;
  margin-right: 10%;
  margin-top: 18%;
}

h2 {
  margin-top: 3%;
  font-size: 2.5em;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "The Nautigal", cursive;
}

#cbox {
  text-align: center;
  width: 100%;
}

#church {
  width: 100%;
  margin-top: 5%;
}

#disclaimer {
  background-color: black;
}

h3 {
  text-align: center;
  font-size: 2em;
}

#schedule_box {
  text-align: center;
}

#schedule {
  width: 80%;
  text-align: center;
  border-radius: 5%;
}

#form_container {
  width: 100%;
  margin-left: 0%;
  margin-top: 2.5%;
  display: block;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

input {
  margin-bottom: 2%;
}

textarea {
  margin-bottom: 2%;
}

#pastors {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

#p_photo {
  border-radius: 35%;
  width: 30%;
  margin-left: 9%;
}

p {
  display: inline-block;
  margin-right: 5%;
  font-size: 1.75em;
  margin-left: 4%;
  margin-top: 7%;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

button {
  width: 50%;
  margin-left: 24.5%;
}

@media screen and (max-width: 1366px) {
  #church_logo {
    width: 12%;
    margin-left: 0%;
  }

  #name {
    margin-top: 2%;
  }

  h2 {
    margin-top: 5%;
    font-size: 3em;
  }

  .logo {
    width: 37%;
    margin-top: 35%;
  }
}

@media screen and (max-width: 1025px) {
  #name {
    font-size: 6em;
    margin-top: 5%;
  }

  #church_logo {
    width: 20%;
  }

  #church {
      margin-top: 20%;
  }

  #p_photo {
    width: 30%;
  }

  p {
    font-size: 1.3em;
  }

  #logo_box {
    margin-left: 6%;
    margin-top: 0;
  }

  .logo {
    width: 55%;
    
  }
}

@media screen and (max-width: 768px) {
  #church {
    margin-top: 15%;
  }

  h2 {
    display: none;
  }

  .logo {
    width: 65%;
    margin-left: 0;
    margin-top: 30%;
  }

  #name {
    font-size: 4.5em;
    margin-left: 0;
    margin-top: 6%;
  }

  #church_logo {
    width: 20%;
  }

  #logo_box {
    margin-left: 6.5%;
  }

  #p_photo {
    width: 33%;
  }

  p {
    font-size: 1em;
  }

  form {
    width: 80%;
  }
}

@media screen and (max-width: 415px) {
  #name {
    font-size: 2.7em;
    margin-top: 7%;
  }

  #church {
    margin-top: 27%;
  }

  #logo_box {
    margin-top: 2%;
    margin-right: 4%;
  }

  .logo {
    width: 75%;
  }

  #church_logo {
    width: 27%;
  }

  #pastors {
    display: block;
    text-align: center;
  }

  #p_photo {
    margin-left: 0;
    width: 50%;
  }

  p {
    display: block;
    font-size: 1em;
  }

  @media screen and (max-width: 412px) {
    #name {
      font-size: 2.6em;
      margin-top: 9%;
    }
  }

  @media screen and (max-width: 378px) {
    #name {
      font-size: 2.5em;
    }
  }

  #church {
    margin-top: 23%;
  }
}

@media screen and (max-width: 321px) {
  #name {
    font-size: 2.3em;
  }

  #logo_box {
    margin-top: 0%;
  }

  #logo {
    margin-top: 0%;
  }

  #church_logo {
    width: 25%;
  }
}
